.div_h1 {
    color: rgb(255, 223, 43);

    font-family: 'Akronim', cursive;
    font-size: 6em;

    margin-left: auto;
    margin-right: auto;

    position: relative;

    top: 20%;

    width: 100%;
}