<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="google" content="notranslate" />
	<meta name="robots" content="index,follow" />
	<meta name="googlebot" content="index,follow" />
	<meta name="description"
		content="Changing 4 Better by Lukasz Dabrowski | Zmieniając na Lepsze wg Łukasz Dąbrowski | Fast Initial View - approach to TTFP | Software for Better Tomorrow | Krakow | Kraków" />
	<title>C4B Solutions | C4B Design | C4B Software | Lukasz Dabrowski - Software Engineer | Łukasz Dąbrowski - Inżynier Oprogramowania</title>
	<style>
		/* here come CSS rules for Above-The-Fold-View */
		body {
			background-color: rgb(255, 234, 43);

			width: 96%;
		}

		div.fast_initial_view_frame {
			color: rgb(20, 79, 124);

			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			font-size: 2em;

			margin-left: auto;
			margin-right: auto;
			margin-top: 20%;

			text-align: center;

			width: 98%;
		}
	</style>
	<link rel="icon" href="/favicon.ico" />
</head>

<body>
	<div class="fast_initial_view_frame">Fast Initial View - it will replaced with subsequent views !</div>
</body>

</html>