.copyright {
    color: rgb(33, 105, 160);

    font-size: 2em;
}

.developer {
    position: relative;

    width: 100%;
}

.city_name, .lab_name {
    color: rgb(20, 79, 124);

    font-family: 'Aldrich', sans-serif;
    font-size: 2.2em;
    
    position: relative;
}